body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-image: url(../images/swm4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* NAVBAR */
.navbar {
  background: linear-gradient(90deg, #2e7d32, #43a047);
  color: white;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  background: white;
  color: #2e7d32;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* DASHBOARD CARDS */
.cards {
  display: flex;
  gap: 30px;
  margin: 40px;
}

.dash-card {
  flex: 1;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  text-align: center;
  transition: transform 0.3s ease;
}

.dash-card:hover {
  transform: translateY(-8px);
}

.dash-card h3 {
  color: #2e7d32;
}

.dash-card p {
  font-size: 36px;
  font-weight: bold;
  color: #1b5e20;
}

/* COMMON CARD STYLE */
.card1 {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  margin: 40px;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.card1 h2 {
  color: #2e7d32;
  margin-bottom: 20px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  border-radius: 12px;
  overflow: hidden;
}

th {
  background: linear-gradient(90deg, #a5d6a7, #c8e6c9);
  color:#1b5e20;
  text-align: left;
  padding: 14px;
}

td {
  padding: 14px;
  background: rgba(255,255,255,0.7);
  border-bottom: 1px solid #ddd;
}



/* NOTIFICATIONS */
#adminNotifications li {
  background: #e8f5e9;
  margin: 8px 0;
  padding: 10px;
  border-radius: 10px;
}
/* ADMIN REGISTER / LOGIN CARD */
.login-card {
  background: rgba(255, 255, 255, 0.88);
  backdrop-filter: blur(12px);
  padding: 35px 40px;
  border-radius: 25px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);

  width: 100%;
  max-width: 420px;

  /* CENTER THE CARD */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Heading */
.login-card h2 {
  text-align: center;
  color: #2e7d32;
  margin-bottom: 25px;
}

/* Inputs */
.login-card input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
}

/* Button */
.login-card button {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(90deg, #81c784, #66bb6a);
  color: #1b5e20;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-card button:hover {
  background: linear-gradient(90deg, #66bb6a, #4caf50);
}

/* Login text */
.login-card p {
  text-align: center;
  margin-top: 18px;
}

.login-card a {
  color: purple;
  font-weight: 600;
  text-decoration: none;
}
