body {
  margin: 0;
  font-family: Arial;
  background: #eef5ee;
}

/* Login */
.login-box {
  width: 350px;
  margin: 120px auto;
  background: white;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 10px #999;
  border-radius: 10px;
}

.login-box input, button {

  width: 80%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

/* Navbar */
.navbar {
  background: green;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

/* Layout */
.dashboard {
  display: flex;
}

.sidebar {
  width: 200px;
  background: #2e7d32;
  height: 100vh;
  padding: 10px;
}

.sidebar button {
  background: white;
  margin: 5px 0;
}

/* Content */
.content {
  padding: 20px;
  width: 100%;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}
.card1 {
  background: white;
  margin: 40px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.cards {
  display: flex;
  gap: 30px;
  margin: 40px;
}

.dash-card {
  flex: 1;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

.dash-card p {
  font-size: 32px;
  font-weight: bold;
  color: green;
}

.card1 {
  background: white;
  margin: 40px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
